# Ignore virtual environment
venv/

# Ignore session file
session.session

# Ignore specific script file
get_source.py

# General Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and config files
.env
*.env